<div class="error_page">
  <!--/login-top-->

  <div class="error-top up">
    <h2 class="inner-tittle page">Budget-Manager</h2>
    <div class="login">
      <h3 class="inner-tittle t-inner">Sign Up</h3>
      <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input class="form-control" placeholder="Full Name" formControlName="full_name" />
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Login" formControlName="login" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" formControlName="psw" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="conf_psw" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="email" />
        </div>
        <div class="submit"><button type="submit" [disabled]="form.invalid" class="btn btn-success btn-md float-left">Sign up</button></div>
        <div class="clearfix"></div>
        <div class="new">
          <p class="sign up">Do you have an account yet ? <a href="login.html"> Login here.</a></p>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
  <!--//login-top-->
</div>
<!--//login-->
<!--footer section start-->
<div class="footer sign">
  <div class="error-btn">
    <a class="read fourth" href="index.html">Return to Home</a>
  </div>
  <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
</div>
