  <div class="row">
    <div class="col-lg-offset-1 col-9 float-right">
      <h1>Home</h1>
      <div class="card" *ngIf="thereIsActivateExercice()">
        <div class="card-header">
          <div class="card-header-tabs"></div>
          <div class="card-title"><h3 class="text-2">Exercice {{ activeExercices[index].getMotif() }}</h3></div>
        </div>
        <div class="card-body">
          <div class="inner-content">
            <div class="container">
              <div class="outter-wp">
                <!--custom-widgets-->
                <div class="custom-widgets">
                  <div class="row-one">
                    <div class="col-md-3 widget">
                      <div class="stats-left espaces">
                        <h4>Begin</h4>
                        <h5> {{ activeExercices[index].getDateDebut() }}</h5>
                      </div>
                    </div>
                    <div class="col-md-3 widget states-mdl">
                      <div class="stats-left espaces">
                        <h4>Today</h4>
                        <h5>{{ dateDay }}</h5>
                      </div>
                    </div>
                    <div class="col-md-3 widget states-thrd">
                      <div class="stats-left espaces">
                        <h4>End</h4>
                        <h5>{{ activeExercices[index].getDateFin() }}</h5>
                      </div>
                    </div>
                    <div class="col-md-3 widget states-mdl">
                      <div class="stats-left espaces ligne-deux">
                        <h5>Montant Budgetaire</h5>
                        <h5>{{ activeExercices[index].getBudget() }}</h5>
                      </div>
                    </div>
                    <div class="col-md-3 widget states-thrd">
                      <div class="stats-left espaces ligne-deux">
                        <h5>Montant depensé</h5>
                        <h5>{{ activeExercices[index].getDepense() }}</h5>
                      </div>
                    </div>
                    <div class="col-md-3 widget states-last">
                      <div class="stats-left espaces ligne-deux">
                        <h5>Montant restant</h5>
                        <h5>{{ montantRestant() }}</h5>
                      </div>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-8">
              <h4><a (click)="saveSortie()" href="#" style="text-decoration: underline">Nouvelle sortie</a></h4>
            </div>
            <div class="col-4">
              <h4><a href="#" (click)="detailler()" style="text-decoration: underline">Afficher les details</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card" *ngIf="thereIsActivateExercice()">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <button class="btn blue" (click) = "decrementIndex()" [disabled]="(index == 0) || (!thereIsActivateExercice())"><i class="fa fa-arrow-circle-left"></i> Precedent</button>
          </div>
          <div class="col-4">
            <button class="btn blue" (click) = "incrementIndex()" [disabled]="(index == (activeExercices.length -1)) || (!thereIsActivateExercice())">Suivant <i class="fa fa-arrow-circle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-offset-1 col-11" *ngIf="!thereIsActivateExercice()">
      <div class="card" >
        <div class="card-header">
          <h2 class="">Bienvenu(e) sur le site pour les exercices budgetaires</h2>
          <h5>Aucun exercice budgetaire n'est en cours</h5>
          <h5>Vous pouvez en créer un en cliquant <a routerLink="/save-exercice">ici.</a></h5>
        </div>
      </div>
    </div>
  </div>
