<div class="row">
  <div class="col-lg-offset-1 col-12 float-right">
    <h1>Home</h1>
    <div class="card" *ngIf="exercices.length != 0">
      <div class="card-header">
        <div class="card-header-tabs"></div>
        <div class="card-title"><h2 class="text-2">Exercice {{ exercices[index].Motif }}</h2></div>
      </div>
      <div class="card-body">
        <div class="inner-content">
          <div class="container">
            <div class="outter-wp">
              <!--custom-widgets-->
              <div class="custom-widgets">
                <div class="row-one">
                  <div class="col-md-3 widget">
                    <div class="stats-left ">
                      <h4>Begin</h4>
                      <h5> {{ exercices[index].dateDebut }}</h5>
                    </div>
                    <div class="stats-right">
                      <label></label>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="col-md-3 widget states-mdl">
                    <div class="stats-left">
                      <h4>Today</h4>
                      <h5>{{ dateDay }}</h5>
                    </div>
                    <div class="stats-right">
                      <label></label>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="col-md-3 widget states-thrd">
                    <div class="stats-left">
                      <h4>End</h4>
                      <h5>{{ exercices[index].dateFin }}</h5>
                    </div>
                    <div class="stats-right">
                      <label></label>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="col-md-3 widget states-last">
                    <div class="stats-left">
                      <h4>Dépenses</h4>
                      <h5>{{ exercices[index].depense }}</h5>
                    </div>
                    <div class="stats-right">
                      <label></label>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="area-charts">
          <div class="col-md-6 panel-chrt">
            <h3 class="sub-tittle dyna">Actions </h3>
            <div id="wrapper">
              <section>
                <button class="btn a_demo_two btn-link" (click)="saveSortie(index)"><h2>Nouvelle sortie</h2></button>
                <button class="btn a_demo_two btn-link" (click)="detailler(index)"><h2>Afficher les details</h2></button>
              </section>
            </div>
          </div>
        <div class="col-md-6 tini-time-line">
          <h3 class="sub-tittle">Statistiques </h3>
          <ul class="timeline">
            <li>
              <div class="timeline-badge info"><i class="fa fa-money"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Montant budgetaire total estimé</h4>
                </div>
                <div class="timeline-body">
                  <p>22000000000</p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge primary"><i class="fa fa-bitbucket"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Montant des dépenses</h4>
                </div>
                <div class="timeline-body">
                  <p>14800000000</p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge danger"><i class="fa fa-bitcoin"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Reste en budget</h4>
                </div>
                <div class="timeline-body">
                  <p>6200000000</p>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <button class="btn blue" (click) = "decrementIndex()" [disabled]="index==0"><i class="fa fa-arrow-circle-left"></i> Precedent</button>
          <button class="btn blue float-right" (click) = "incrementIndex()" [disabled]="index==(exercices.length-1)">Suivant <i class="fa fa-arrow-circle-right"></i></button>
        </div>
      </div>
    </div>
</div>
