<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-11">
      <div class="card">
        <div class="card-title">
          <h2>Exercices budgetaires</h2>
        </div>
        <div class="card-header">
          <div class="float-right"><h4><a routerLink="/save-exercice" style="text-decoration: underline; ">Nouvel exercice</a></h4></div>
        </div>
        <div class="card-body">
          <table class="table table-responsive table-striped table-scroll-vertical" *ngIf="thereIsAnExercice()">
            <thead>
            <tr>
              <th><h5>#</h5></th>
              <th><h5>Date de debut</h5></th>
              <th><h5>Date de fin</h5></th>
              <th><h5>Montant de budget</h5></th>
              <th><h5>Montant de depenses</h5></th>
              <th><h5>Montant restant</h5></th>
              <th><h5>Etat</h5></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercice of exercices; let i=index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ goodDate(exercice.getDateDebut()) }}</td>
              <td>{{ goodDate(exercice.getDateFin()) }}</td>
              <td>{{ exercice.getBudget() }}</td>
              <td>{{ exercice.getDepense() }}</td>
              <td>{{ getMontantRestant(i) }}</td>
              <td>{{ getState(i) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body" *ngIf="!thereIsAnExercice()">
          <h5>Aucun exercice budgetaire n'est encore enregistré enregistrée </h5>
          <h5>Vous pouvez en créer un un en cliquant <a routerLink="save-exercice" style="text-decoration: underline">ici</a> </h5>
        </div>
        </div>
      </div>
    </div>
  </div>
