<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-11">
      <!--sub-heard-part-->
      <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
          <li><a href="index.html">Home</a></li>
          <li class="active">Profile</li>
        </ol>
      </div>
      <!--//sub-heard-part-->
      <!--/profile-->
      <h3 class="sub-tittle pro">Profile</h3>
      <div class="profile-widget">
        <img src="{{ user.getAvatar() || '../../assets/img/avatars/default.png' }}" alt="{{ user.getLogin() || 'Anonymous' }}" />
        <h2>{{ user.getNomComplet() }}</h2>
        <p>Utilisateur</p>
      </div>
      <!--/profile-inner-->
      <div class="profile-section-inner">
        <div class="col-md-6 profile-info">
          <h3 class="inner-tittle">Informations personnelles </h3>
          <div class="main-grid3">
            <div class="p-20">
              <div class="about-info-p">
                <h4>Nom complet</h4>
                <p class="text-muted">{{ user.getNomComplet() }}</p>
              </div>
              <div class="about-info-p">
                <h4>Adresse email</h4>
                <p class="text-muted"><a href="mailto:{{ user.getEmail() }}">{{ user.getEmail() }}</a></p>
              </div>
              <div class="about-info-p">
                <h4>Solde</h4>
                <p class="text-muted">{{ user.getSolde() }}</p>
              </div>
            </div>
          </div>
          </div>

        <div class="col-md-6 profile-info two">
          <h3 class="inner-tittle">Actions </h3>
          <div class="main-grid3" p-skill>
            <div class="p-20">
              <div class="about-info-p">
                <h4><i class="fa fa-edit"></i> <a href="#" style="text-decoration: underline">Modifier le profile</a> </h4>
              </div>
              <div class="about-info-p">
                <h4><i class="fa fa-sign-out"></i><a href="#" style="text-decoration: underline;" (click)="signout()">Deconnexion</a> </h4>
              </div>
              <div class="about-info-p">
                <h4><i class="fa fa-cut"></i><a href="#" style="color: red;text-decoration: underline" (click)="deleteProfile()">Supprimer le profile</a> </h4>
              </div>
            </div>
          </div>
        </div>
          <!--//map-->
        </div>
      </div>
      <!--//profile-inner-->
      <!--//profile-->
    </div>
  </div>
<!--//outer-wp-->


<!--footer section start-->
<footer>
  <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
</footer>
<!--//footer section end-->
