<div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-11">
          <div class="card">
            <div class="card-title">
              <h2>Entrees</h2>
            </div>
            <div class="card-header">
              <div class="float-right"><h4><a routerLink="/save-entree" style="text-decoration: underline; ">Nouvelle Entree</a></h4></div>
            </div>
            <div class="card-body">
              <table class="table table-responsive table-striped table-scroll-vertical" *ngIf="entrees !== undefined">
                <thead>
                  <tr>
                    <th><h6>#</h6></th>
                    <th><h6>Date d'entree</h6></th>
                    <th><h6>Montant</h6></th>
                    <th><h6>Motif</h6></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entree of entrees; let i=index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ goodDate(entree.getDate()) }}</td>
                    <td>{{ entree.getMontant() }}</td>
                    <td>{{ entree.getMotif() }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="card" *ngIf="entrees === undefined">
                <div class="card-body">
                  <h3>Aucune sortie n'est enregistrée pour cet exercice</h3>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
